body{
	background: url("../images/bodybackground.jpg") no-repeat center center fixed; 
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
 
.container{

	width:1000px;
	height:600px;
	padding-left:0;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.row{
	margin:0;
	position:relative;
	width:100%;

}

.avatarContainer{
	padding:5px;
	height:405px;
	background-color:gray;
	margin-top:10%;
	
	text-align:center;
	font-family: 'Bungee';
	font-size:150%;
}

.text{
	border:solid 2px black;
	width:100%;
	position:relative;
	background-color:white;

}

.selectCharacter{
	margin-top:15px;
	text-align: left;

	

}

.avatarImg{
	outline:solid 2px black;
}

.right{
	float:right;
}

.avatarRow{
	border:solid 2px white;
	padding-left:0;
	padding-right:0;
}




.mainContainer{
	height:596px;
	padding-left:20px;
	text-align:center;
}

h1{
	font-family:'Bungee Shade';
	color:white;
}

.names{
	font-family:'Bungee';
	color:white;
	font-size:175%;
	margin-top:10px;
}
.progress{
	margin-top:5px;
}

.battle{
	background-image: url("../images/stage.jpg") ;
	
   float:center;
   width:752px;
   height:466px;
   display: block;
    margin: auto;
}

.attackerPosition{
	height:350px;
	width:250px;
	margin-left:65px;
	margin-top:30px;

}

.defenderPosition{
	height:350px;
	width:250px;
	margin-top:30px;
	
}

.battleAvatar{
	max-width: 250px;
 	max-height: 350px;

}

.attackerProgress{
	width:250px;
	margin-left:-20px;
	-webkit-transform: skew(20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	background: red;
	float:top;
}

.defenderProgress{
	width:250px;
	
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
	background: red;
	float:top;
}
